<ul><span>Hobbies</span>
<li>Playing Cricket,chess</li>
<li>Listening to songs</li>
<li>Web surfing</li>
</ul>

<ul><span>Extra curricular Activities</span>
<li>Participated in Running marathon</li>
<li>Participated in 24 hours ethical hacking workshops</li>
</ul>

<ul><span>Related to UI</span>
<li>My favourite serial web application-(HTML,CSS,Bootstrap,Angular JS 2)</li>
<li>My own Resume(HTML,CSS,Bootstrap,Angular JS 2)</li>
<li>Animation -<a href="https://muraliduke.github.io/flyinggoogle/" target="_blank">Click here</a></li>

</ul>