
<div class="summary">
		<p class="col-md-12">I have been trained in Web Development using HTML, CSS, jQuery, JavaScript, Angular JS in cognizant academy and i look forward to take any challenges for the job allocated to me and fullfill all the trust the organization put over me.I take all the challenges as a oppurtunity to learn and rediscover that would enhance my knowledge.</p>
</div>

<div class="row bold">
	
	<div class="col-md-3 margin">Designation:</div>
	<div class='col-md-9 margin'>PAT(Programmer Analyst Trainee)</div>

	<div class="col-md-3 margin">Expertise:</div>
	<div class='col-md-9 margin'>Web Developer</div>

	<div class="col-md-3 margin">Role:</div>
	<div class='col-md-9 margin'>Developing a website based on client requirement</div>

	<div class="col-md-3 margin">Responsibility:</div>
	<div class='col-md-9 margin'>Creating a front end parts websites using HTML,CSS and 
	client side scripting languages like JS,Jquery and JS frameworks like Angular JS,React JS and integrating with backend side</div>

</div>