<table class="table table-bordered">
      		
      		<thead>
      			<tr><th>Project Name</th><th>Technologies</th><th>Description</th></tr>
      		</thead>
      		<tbody>
      			<tr><td>1).CI DEALS (Mfrp) </td><td>HTML5, CSS 3, Bootstrap, Angular Js</td><td>It’s an MFRP (My First Real time Project) which is an E-commerce website with a wide range of products (Books, Electronics, Furniture’s, Clothing etc.) from which the user can purchase their desired products.</td></tr>
      			<tr><td>2).Online Restaurant Search Portal(Mini Project)</td><td>HTML5, CSS 3, Angular JS, Bootstrap and Accessibility</td><td>It’s an online food ordering website where the user can search their                  desired restaurant and order their food. The website is designed for Responsive Web Design with Web Accessibility</td></tr>
      			<tr><td>3).Gilead AD DL Automation(Life Science)</td><td>HTML,CSS,Bootstrap,javascript,jQuery</td><td>It is a content management website which displays the details of the customers related to their business.
</td></tr>
<tr><td>4).First Data Payments Collaborator (cognizant internal ) </td><td>HTML,CSS,Angular 2</td><td>It is a cognizant internal employee management site where employee performance details are displayed in the form of high charts.</td></tr>
      		</tbody>
      	</table>