

<section class="container">
	
	<div class="login">
		        <div class="login-name">	
			             <h1><span class="glyphicon glyphicon-lock"></span>login Form</h1>
	           </div>

            <div class="login-form">
	             <form>
                  <div class="form-group col-md-8 user">
    			             <span class="glyphicon glyphicon-user"></span>
    			             <input type="text" class="form-control navbar-inverse" name="uname" 
    			             required [(ngModel)]="model.uname" id="text" placeholder="user or Email">
  			           </div>
                  <div class="form-group col-md-8 password">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input type="password" class="form-control navbar-inverse" name="pwd"  
                        required [(ngModel)]="model.pwd"  id="pwd" placeholder="password" (keypress)="eventHandler($event)">
                  </div>
  			          <div class="form-group col-md-8 col-md-offset-2"> 
                        <a href="javascript:void(0);" class="btn btn-lg" (click)="signin()">
                        Sign in now 
                        </a>
                  </div>
			             <div class="clearfix"></div>
                </form>	
  	
                <div class="clearfix"></div>	
            </div>


	</div>

</section>

