<tabset>
  <tab heading="Schooling"><table class="table table-bordered">
      		
      		<thead>
      			<tr><th>Course</th><th>Institution</th><th>Percentage</th></tr>
      		</thead>
      		<tbody>
      			<tr><td>SSLC</td><td>Don Bosco Hr Sec School</td><td>96.6%</td>
      			<tr><td>HSC</td><td>Don Bosco Hr Sec School</td><td>87%</td>
      		</tbody>
      	</table></tab>
  <tab >
    <template tabHeading>
      College
    </template>
    <table class="table table-bordered">
      		
      		<thead>
      			<tr><th>Stream</th><th>Course</th><th>Institution</th><th>CGPA</th></tr>
      		</thead>
      		<tbody>
      			<tr><td>B.E</td><td>ECE</td><td>Prathyusha Institute of Technology and Management (Affiliated to Anna University)</td><td>8.46</td>
      			
      		</tbody>
      	</table>
  </tab>
</tabset>