<div class="row">
<div class="col-md-4 pull-right">
	<p class="WD bold"><span ></span>: Web development skills</p>
	<p class="bold"><span ></span>: General programming skills</p>
	<p class="bold">* :  Under learning phase</p>

</div>
</div>
<div class="row bold">
	
	<div class="col-md-3 margin">Programming languages:</div>
	<div class='col-md-9 margin'><ul>
										<li>C,Java</li>
										
								</ul>

	</div>

	<div class="col-md-3 margin">Database:</div>
	<div class='col-md-9 margin'>
		<ul>
				<li>MySql</li>
		</ul>
	</div>
	
	<div class="col-md-3 margin WD">Markup languages:</div>
	<div class='col-md-9 margin WD'><ul>
										<li>HTML 5,CSS 3</li>
										
								</ul>

	</div>

	<div class="col-md-3 margin">Scripting languages:</div>
	<div class='col-md-9 margin WD'><ul>
										<li>Javascript(ECMA 5),Typescript,ES 2016</li>
										

										
								</ul>

	</div>

	<div class="col-md-3 margin">Library:</div>
	<div class='col-md-9 margin WD'><ul>
										<li>JQuery</li>
										
								</ul>

	</div>

	<div class="col-md-3 margin">Frameworks:</div>
	<div class='col-md-9 margin WD'><ul>
										<li>Angular JS(1.x,2.0),Bootstrap,*React JS</li>
										
										
								</ul>

	</div>

	<div class="col-md-3 margin">CSS Preprocessors</div>
	<div class='col-md-9 margin WD'><ul>
										<li>Sass,less</li>
										
										
								</ul>

	</div>

	<div class="col-md-3 margin">Web Accessibility tools</div>
	<div class='col-md-9 margin WD'><ul>
										<li>NVDA,Wave</li>
										
										
								</ul>

	</div>

	<div class="col-md-3 margin">Server Side scripting</div>
	<div class='col-md-9 margin WD'><ul>
										<li>*php</li>
										
										
								</ul>

	</div>



</div>