.container-fluid h1{
	
	font-style: italic;
	font-weight: bold;
}
.mydetail p:first-child{
	color: #7fffd4;
	font-weight: bold;
	font-size: 20px;
}
.mydetail p:last-child{
	color: #c7ff7f;
	font-weight: bold;
	font-size: 17px;
}
h1{
	color:white;
}
.bold{
	font-weight: bold;
}
.margin{
	margin: 10px 0px;
}
